.portrait {width:48px; height:48px; margin:auto;}
.tag {margin: 3px 5px; padding: 2px 5px; float:left; border:1px solid lightblue;}
.act-unit {height: 200px; overflow:hidden}
.act-thumb {width:100px; height:75px;}
.act-img {width:180px;max-height:300px;padding:0;background:none;border:0 none;}

.person-thumb-wrapper {float:left; margin-right:10px;}
.person-thumb-wrapper p, .person-thumb-wrapper input {
  clear:both; 
  width:58px; 
  text-align:center;
  margin:5px auto;
  border:none;
}

.person-thumb {width:58px; float:left; margin-right:10px;}
.person-thumb-wrapper .person-thumb{margin:0px;}
.person-thumb img {  
  padding: 3px;
  background: #FAFAFA;
  border: 1px solid #EDEDED;
}

.person-thumb p {text-align:center; margin:5px auto;}


.select {
  border:solid #0000FF;
}
.message {width:400px; height:80px;}
#message-bar {float:left; width:100%; background:url("../images/message_bar.png") repeat-x scroll 50% 50% #CCCCCC; color:#EA0075; height:28px; text-align:center; padding:auto}

.hide {display:none;}

form tbody tr:nth-child(even) th, form tbody tr.even th {background:#e5ecf9;}
form ul {margin:0; list-style:none;padding:0;}
