.portrait {width:48px; height:48px; margin:auto;}
.tag {margin: 3px 5px; padding: 2px 5px; float:left; border:1px solid lightblue;}
.act-thumb {width:120px; height:90px;}

.person-thumb-wrapper {float:left;}
.person-thumb-wrapper p, .person-thumb-wrapper input {
  clear:both; 
  width:58px; 
  text-align:center;
  margin:5px auto;
  display:block; 
}
.person-thumb {width:58px; float:left; margin-right:10px;}
.person-thumb img {  
  padding: 3px;
  background: #FAFAFA;
  border: 1px solid #EDEDED;
}

.person-thumb p {text-align:center; margin:5px auto;}


.select {
  background:blue;
}
