{%extends "share/base.html"%}
{%block title%}动起来！{%endblock%}

{%block head%}
{%endblock%}

{%block content%}
  <div id="sidebar" class="span-6">
    {% with log_form as form%}
      {% include "share/login.html" %}
    {% endwith %}
    <div class="sidemenu">
      <ul>
        <li><a href="#">K歌..</a></li>
        <li><a href="#">腐败..</a></li>
        <li><a href="#">学术讨论..</a></li>
        <li><a href="#">旅行..</a></li>
        <li><a href="#">社团活动..</a></li>
        <li><a href="#">还有..</a></li>
      </ul>
    </div>
  </div>

  <div class="span-18 last">
    <h2>MyActivity是什么？</h2>
    <p>MyActivity是一个帮助你和你的朋友、亲人、同学、同事一起组织开展各种活动的网站。通过MyActivity你可以方便的发起活动并邀请
      你的好友参加，或者搜索并申请加入你热衷的活动。你还可以把活动中的照片视频上传，诉说自己的活动心情，并将这些分享给你的好友～</p>
    <p>还在犹豫吗？赶快<a>加入我们</a>吧！</p>
    <h2>新用户</h2>
    <p class="boldtext">还没注册？快加入我们吧！</p>
    <div id="registerPan">
      {% with reg_form as form %}
        {% include "share/register.html" %}
      {% endwith %}
    </div>
  </div>

{%endblock%}
{%block footer%}

{%endblock%}
