{%extends "share/base.html"%}
{%block title%}动起来！{%endblock%}

{%block media%}
<style type="text/css">
  #register-dialog form{padding:0;border:0px none;}
</style>

{%endblock%}

{%block content%}
  <div id="sidebar" class="span-6">
    {% with log_form as form%}
      {% include "share/login.html" %}
    {% endwith %}
    <div class="sidemenu">
      <ul>
        <li><a href="#">K歌..</a></li>
        <li><a href="#">腐败..</a></li>
        <li><a href="#">学术讨论..</a></li>
        <li><a href="#">旅行..</a></li>
        <li><a href="#">社团活动..</a></li>
        <li><a href="#">还有..</a></li>
      </ul>
    </div>
  </div>

  <div class="prepend-1 span-17 last">
    <h2>MyActivity是什么？</h2>
    <p>MyActivity是一个帮助你和你的朋友、亲人、同学、同事一起组织开展各种活动的网站。通过MyActivity你可以方便的发起活动并邀请
      你的好友参加，或者搜索并申请加入你热衷的活动。你还可以把活动中的照片视频上传，诉说自己的活动心情，并将这些分享给你的好友～</p>
    <p>还在犹豫吗？赶快<a id="register">加入我们</a>吧！</p>
    <hr class="space"/>
    <h2>最近加入</h2>
    <p>
    {% for person in recent_join %}
      {%include "share/portrait.html"%}
    {%endfor%}
    </p>

    {%include "share/register.html"%}
  </div>

{%endblock%}
{%block footer%}

{%endblock%}
