{%extends "share/base.html"%}

{%block media%}
{%endblock%}
{%block title%}更新记录{%endblock%}
{%block content%}
<div class="post">
  <h1>MyActivity 更新</h1>
  <div class="right">
    <h2>活动类型可设置默认参数</h2>
    <p>在新建活动类型的时候可以选择默认参数，每次在创建活动时，选择活动类型后其他选项会自动填上默认参数</p>
  </div>
  <div class="left">

    <p class="dateinfo">JAN<span>12</span></p>
    <div class="post-meta">
      <h4>信息</h4>
        <ul>
         <li class="user"><a href="#">赵师聪</a></li>
         <li class="time"><a href="#">18:00 PM</a></li>
         <li class="comment"><a href="#">0 评论</a></li>
        </ul>
    </div>
  </div>

  <div class="right">
    <h2>MyActivity即将上线</h2>
    <p>欢迎大家测试</p>
  </div>
  <div class="left">

    <p class="dateinfo">JAN<span>11</span></p>
    <div class="post-meta">
      <h4>信息</h4>
        <ul>
         <li class="user"><a href="#">赵师聪</a></li>
         <li class="time"><a href="#">12:30 PM</a></li>
         <li class="comment"><a href="#">0 评论</a></li>
        </ul>
    </div>
  </div>
</div>
{%endblock%}
{%block footer%}
{%endblock%}
