{%extends "share/base.html"%}

{%block media%}
{%endblock%}
{%block title%}更新记录{%endblock%}
{%block content%}
<div class="span-24">
  <h4>当前版本v0.80,发布时间2011.02.26</h4>
  <h1>路线图</h1>
  <div>
    <h4>v0.90</h4>
    <ul>
      <li>增加message模块，用户间可以发送短消息，部分系统通知改用短消息通知</li>
      <li>增加用户密码找回功能</li>
      <li>改进用户注册功能，在注册阶段完成真实姓名设定</li>
      <li>增加大容量信息分页查看功能</li>
    </ul>

  </div>
  <h1>版本更新日志</h1>
  <div>
    <h4>v0.801</h4>
    <ul>
      <li>修正活动图片不能正确上传和修改的bug</li>
      <li>修正创建时间不正确的bug</li>
    </ul>
  </div>
</div>
{%endblock%}
{%block footer%}
{%endblock%}
