{%extends "share/base_login.html"%}

{%block media%}
{%endblock%}
{%block title%}好友申请{%endblock%}
{%block content%}
  {%for app in friend_applications%}
    <p class="thumbs">
      <img src="{{app.applicant.profile.portrait.url}}" class="portrait"/>
      <br/>
      {{app.applicant.profile.real_name}}
      <br/>
      <a href="/friends/agree/{{app.id}}">通过</a>
      <a href="/friends/ignore/{{app.id}}">忽略</a>
    </p>
  {%endfor%}
  <div class="clearfix"></div>
  <a href="/home">返回</a>
{%endblock%}
{%block footer%}
{%endblock%}