<script>
  $(function(){
    $("#invite-box").dialog({
      autoOpen:false,
      title: "添加好友",
      width: 450,
      buttons:{
        "确定": function(){
          message = $("#invite-box > #message").val();
          $(this).load("/friends/add/{{person.id}}/", {"message": message});
          $(this).dialog("option", "buttons", {});
          setTimeout(function(){$("#invite-box").dialog("close");}, 1000);
          
        },
        "取消": function(){
          $(this).dialog("close");
        }
      }
    });
    $("#add-friend").click(function(){
      $("#invite-box").dialog("open");
    });
  });
</script>
<p class="fix"><a id="add-friend" href="#">加为好友</a></p>
<div id="invite-box">
  <p>需要通过{{person.profile.real_name}}的验证才能加他为好友！</p>
  <textarea class="message" height="30px" width="100px"></textarea>
</div>
