{%extends "share/base_login.html"%}

{%block media%}
<link href="/media/css/carousel/skin.css" rel="stylesheet" type="text/css" />
<script src="/media/js/jquery.jcarousel.min.js" type="text/javascript"></script>
<script>
  $(function(){
    $('#carousel').jcarousel();
    $("#story-info-tabs" ).tabs();
    $('#carousel > li > img').click(function()
    {
      $("#big-img").attr("src", $(this).attr("src"));
    });
    $('#carousel > li > img:first').click();
  });
</script>
<style type="text/css">
  img {padding:0;}
  #carousel img {width:100px; height:75px;}
  #big-img-frame {background:black; width:600px;height:450px; margin:auto;}
  #big-img {max-width:600px; max-height:450px;margin:auto;display:block;}
</style>
{%endblock%}
{%block title%}故事邀请{%endblock%}
{%block content%}
<div class="span-16">
<div class="span-16 last" id="story-info-tabs">
  <ul>
    <li><a href="#story-info-tabs-1">心情</a></li>
    <li><a href="#story-info-tabs-2">图片</a></li>
  </ul>
  <div class="span-15 last" id="story-info-tabs-1">
    <form method="post" action="/activity/post/{{activity.id}}/" class="span-15 last discuss-box">
      {% csrf_token %}

      <textarea cols="70" rows="6" name="content" class="span-15 last"></textarea>
      <div class="float-right"><input type="submit" value="发布"/></div>
    </form>
    {%for post in story.get_posts%}

      <div class="span-15 last"> 
        <div class="span-2">
          <div class="person-thumb">
            <img src="{{post.post_by.profile.portrait.url}}" class="portrait"/>          
          </div>
        </div>
        <div class="span-13 last">
          <p>
            <a href="/user/{{post.post_by.id}}/">{{post.post_by.profile.real_name}}</a>:
            {{post.content}}
          </p>          
          <div>{{post.post_date}}</div>
        </div>
      </div>
      <hr class="space"/>
      <hr/>
    {%endfor%}
  </div>
  <div class="album-wrapper span-15 last" id="story-info-tabs-2">
    <ul class="jcarousel-skin-tango" id="carousel">
      {%for photo in story.get_photos%}
        <li><img src="{{photo.content.url}}"/></li>
      {%endfor%} 
    </ul>
    <form method="post" action="/story/uploadphoto/{{story.id}}/" enctype="multipart/form-data" class="right">
      {% csrf_token %}
      <input type="file" name="photo"/>
      <input type="submit" value="上传"/>
    </form>
    <hr class="space"/>
    <div>
      <div id="big-img-frame">
        <img id="big-img"/>
      </div>
    </div>    
  </div>
</div>
</div>

<div class="prepend-1 span-7 last" id="sidebar">  
  <h1>{{story.name}}</h1>



  <p>
    <a href="/story/edit/{{story.id}}/" class="more">编辑</a>
    <a href="/story/invite/{{story.id}}" class="more">邀请</a>
  </p>
  <p class="clear"></p>
  {%with story.invitor as person%}
    {%include "share/portrait.html"%}
  {%endwith%}
  <p>{{story.description}}</p>
  <hr/>
  <p>开始时间:{{story.start_time}}</p>
  <p>结束时间:{{story.end_time}}</p>
  <p>地点:{{story.activity_place}}</p>
  <hr/>
  <div>
    <h4>故事里的人</h4>
    <div id="participant-pan">
      {%with story.person_joined as persons%}
        {%include "share/user_list.html"%}
      {%endwith%}
    </div>
  </div>
  <hr/>
  <div id="invite-dialog">
    
  </div>
</div>

{%endblock%}
{%block footer%}
{%endblock%}