{%extends "share/base_login.html"%}

{%block media%}
<script type="text/javascript"
src="/media/js/swfobject.js">
</script>
<style type="text/css">
  .album img {width:100px; height:75px;}
</style>
{%endblock%}
{%block title%}故事邀请{%endblock%}
{%block content%}
<div class="span-16">
  <div class="album-wrapper span-16 last">
    <div class="album span-16 last">
      {%for photo in story.get_photos%}
        <div class="span-3 thumbs"><img src="{{photo.content.url}}"/></div>
      {%endfor%}
    </div>
    <form method="post" action="/story/uploadphoto/{{story.id}}/" enctype="multipart/form-data" class="right">
      {% csrf_token %}
      <input type="file" name="photo"/>
      <input type="submit" value="上传"/>
    </form>
  </div>
  <hr class="space"/>
  <div class="span-16 last">
    {%for post in story.get_posts%}

      <div class="span-16 last"> 
        <div class="span-2">
        {%with post.post_by as person%}
          {%include "share/portrait.html"%}
        {%endwith%}
        </div>
        <div class="span-14 last">
          <hr class="space"/>
          <hr class="space"/>
          <div>说@{{post.post_date}}</div>
        </div>
      </div>
      <hr/>
      <div class="span-16 last">
        <p>{{post.content}}</p>
      </div>
      <hr/>

    {%endfor%}
    <form method="post" action="/story/post/{{story.id}}/" class="span-16 last">
      {% csrf_token %}
      <textarea cols="70" rows="6" name="content"></textarea>
      <input type="submit" value="发布"/>
    </form>
  </div>
</div>

<div class="prepend-1 span-7 last" id="sidebar">  
  <div id="video">请下载安装最新版本的flash插件</div>
  <hr class="space"/>
  <script type="text/javascript">
    var flashvars = {file:'/media/video/dcd_football_2010.flv',autostart:'true' };
    var params = {allowfullscreen:'true', allowscriptaccess:'always' };
    var attributes = { id:'player1', name:'player1' };
    
    swfobject.embedSWF('/media/js/jwplayer/player.swf','video','270','200','9.0.115','false',    flashvars, params, attributes);
  </script>
  <h1>{{story.name}}</h1>
  {%with story.creator as person%}
    {%include "share/portrait.html"%}
  {%endwith%}
  <p>{{story.description}}</p>
  <hr/>
  <p>开始时间:{{story.start_time}}</p>
  <p>结束时间:{{story.end_time}}</p>
  <p>地点:{{story.activity_place}}</p>
  <p>{{story.descritption}}</p> 
  <hr/>
  <div>
  {%for person in story.get_participants%}
    <div>
      {%include "share/portrait.html"%}   
    </div>
  {%endfor%}
  </div>
</div>

{%endblock%}
{%block footer%}
{%endblock%}