{%extends "share/base_login.html"%}
{%block media%}
  <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css">
  <script src="/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="/media/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
  {{form.media}}
{%endblock%}
{%block title%}编辑活动{%endblock%}
{%block content%}
  <div class="span-12">
    <form action="/story/edit/{{story_id}}/" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="修改"/> 
    </form>
  </div>
  <div class="span-12 last">
    <p>故事里的人</p>
    <hr/>
    <div id="participant-pan">

    </div>
    <hr/>
    <script>
      $(function(){
        $("#invite-pan").load("/story/candidate-pan/{{story_id}}/",{'next': '/story/edit/{{story_id}}'});
        $('#participant-pan').load("/story/participants/{{story_id}}/")
      });
    </script>
    <div id="invite-pan">
      
    </div>

    <hr/>
    <a href="/home/" >返回</a>
  </div>

{%endblock%}

