{%extends "share/base_login.html"%}

{%block media%}
{%endblock%}
{%block title%}故事邀请{%endblock%}
{%block content%}
  {%for invitation in invitations%}
    <div class="span-10">
      {%with invitation.activity as activity%}
        {%include "share/story_unit.html"%}
      {%endwith%}
      <p>
        <a href="/story/agree/{{invitation.id}}" class="more">通过</a>
        <a href="/story/ignore/{{invitation.id}}" class="more">忽略</a>
      </p>
    </div>
  {%endfor%}
  <hr class="space">
  <a href="/home">返回</a>
{%endblock%}
{%block footer%}
{%endblock%}