{%extends "share/base_login.html"%}
{%block media%}
  <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css">
  <script src="/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="/media/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
  {{form.media}}
{%endblock%}
{%block title%}编辑活动{%endblock%}
{%block content%}
  <div class="detail">
    <form action="/activity/edit/{{activity_id}}/" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="修改"/> 
    </form>
  </div>
  <div class="right-content">
    <p>已邀请</p>
    <div class="float">
      {%for invite in invites%}
        <p class="thumbs float"> 
          <img src="{{invite.user.profile.portrait.url}}" class="portrait"/>
          <br/>{{invite.user.profile.real_name}}<br/>{{invite.get_response_display}}
        </p>
      {%endfor%}
    </div>
    <div class="clearfix"></div>
    {%include "activity/invite.html"%}
    <a href="/home/" class="float-right">返回</a>
  </div>

{%endblock%}

