{%extends "share/base_login.html"%}
{%block media%}
  <script src="/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="/media/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
  {{form.media}}
{%endblock%}
{%block title%}编辑活动{%endblock%}
{%block content%}
  <div class="span-24">
    <form action="/activity/edit/{{activity_id}}/" method="post">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="修改"/> 
      <button href="/activity/detail/{{activity_id}}" class="submit">返回</button>
    </form>    
  </div>
{%endblock%}

