{%extends "share/base_login.html"%}
{%block media%}
  <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.8.7.custom.css" type="text/css">
  <script src="/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="/media/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
  {{form.media}}
{%endblock%}
{%block title%}编辑活动{%endblock%}
{%block content%}
  <div class="span-12">
    <form action="/activity/edit/{{activity_id}}/" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="修改"/> 
    </form>
  </div>
  <div class="span-12 last">
    <p>已邀请</p>
    <hr/>
    <div>
      {%for invite in invites%}
        <div class="person-thumb-wrapper">
        {%with invite.user as person%}
          {%include "share/portrait.html"%}
        {%endwith%}
        <p>{{invite.get_response_display}}</p>
        </div>
      {%endfor%}
      <hr/>
    </div>

    {%include "activity/invite.html"%}
    <hr/>
    <p><a href="/home/" >返回</a></p>
  </div>

{%endblock%}

