{%extends "share/base_login.html"%}
{%block media%}
{%endblock%}
{%block title%}消息{%endblock%}
{%block content%}
  <div class="span-24">
    <div class="span-4 sidebar">
      <p><a href="/message/inbox">收件箱</a></p>
      <p><a href="/message/sended">已发信息</a></p>
      <p><a href="/message/send">发送信息</a></p>
    </div>
    <div class="span-20 last">
      <table>
        <tr>
          <th>主题</th>
          <th>发送者</th>
          <th>发送时间</th>
          <th>已阅读</th>
          
        </tr>
        {%for message in messages%}
          <tr>
            
            <td><a href="/message/detail/{{message.id}}/">{{message.title}}</a></td>
            <td>{{message.from_user.profile.real_name}}</td>
            <td>{{message.send_time}}</td>
            <td>{{message.readed}}</td>
              
          </tr>
        {%endfor%}
      </table>
    </div>
  </div>
{%endblock%}
{%block footer%}
{%endblock%}