<div class="span-6 act-unit">
  <h4><a href="/activity/detail/{{activity.id}}">{{activity}}</a></h4>
  <div class="span-3">
    <a href="/activity/detail/{{activity.id}}"><img src="/media/images/default_album.png" class="act-thumb"/></a>
  </div>
  <div class="span-3 last">
   <p>
     {{activity.start_time}}
     <br/>
     {{activity.activity_place}}
   </p>    
  </div>
  <div class="span-6 last">
    <p>{{activity.person_joined.count}}人参加&nbsp;{{activity.person_wait.count}}人观望&nbsp;（<span class=''>{{activity.get_state_display}}</span>）</p>
    <p>{{activity.description}}</p>
  </div> 
  <hr/>
</div>