<div class="span-10 last border">
  <div class="span-4">
    <img src="{{activity.image.url}}" class="act-thumb"/>
  </div>
  <div class="span-3">
    <p>
      <a href="/story/detail/{{activity.id}}">{{activity}}</a>
      <br />
      {{activity.start_time}}到{{activity.end_time}}
      <br/>
      还有{{activity.person_joined.count}}人在其中
    </p> 

  </div>
  <div class="span-3 last">
    <label>创建者</label>
    <hr class="space"/>
    {%with activity.invitor as person%}
      {%include "share/portrait.html"%}
    {%endwith%}            
  </div>
  <hr class="space"/>
  <p class="description">{{activity.description}}</p> 
  <p class="clear"/>
</div>