{%extends "share/base_login.html"%}
{%block title%}动起来！{%endblock%}


{%block sidebar%}
  <div>
    欢迎你，{{user.profile.real_name}}
    <div>
      <p class="thumbs float"><img src="{{user.profile.portrait.url}}" class="portrait"/></p>
      {%for tag in user.profile.tags.all%}
        <a class="tag" href="/profile/removetag/{{tag.id}}">{{tag.name}}</span></a>
      {%endfor%}
      <div class="clearfix"></div>
    </div>
 
    <div><a href="/profile/edit">修改个人资料</a></div>
    
    <div>
      <form action="/friends/search" method="get">
        <p>好友</p>
        <input type="search" name="user_name"/>
        <input type="submit" value="搜索"/> 
      </form>   
    </div>
    <div>  
      <form action="/profile/addtag/" method="post">
        <p>标签</p>
        {%csrf_token%}
        <input type="text" name="tag_name"/>
        <input type="submit" value="添加"/>
      </form>
      <div>
        <p>可能适合你的标签</p>
        {%for tag in hot_tags%}
          <a class="tag" href="/profile/addtag/{{tag.id}}">{{tag.name}}</a>
        {%endfor%}
      </div>
    </div>
  </div>
{%endblock%}
{%block main%}
  <div class="float">
    <div>
      <h4>我的活动</h4>
      <a href="/activity/create">发起活动</a>
      {% for activity in activities_created %}
        <div class="act-div">
          <div class="thumbs float">
            <img src="/media/images/logo.png" class="act-thumb"/>
          </div>
          <div class="detail">
            <p>
              <a href="/activity/detail/{{activity.id}}">{{activity}}</a>
            </p> 
            <p>已邀请{{activity.person_invited}}人</p>
            <p>{{activity.person_attended}}人已接受</p>
            <p>{{activity.person_declined}}人已拒绝</p>
            <p>{{activity.get_state_display}}</p>
          </div>
          <div class="invitor">
            <div>创建者</div>
            <div class="thumbs">
              <img src="{{activity.invitor.profile.portrait.url}}" class="portrait"/>
            </div>
            <div>{{activity.invitor.profile.real_name}}</div>
          </div>
          <div class="fix"></div>
          <p class="description">{{activity.description}}</p> 
        </div>
      {% endfor %} 
    </div>
    <div>
      <h4>我的故事</h4>
      <a href="/activity/create">记录故事</a>
      {% for activity in activities_invited %}
        <div class="act-div">
          <div class="thumbs float">
            <img src="/media/images/logo.png" class="act-thumb"/>
          </div>
          <div class="detail">
            <p>
              <a href="/activity/detail/{{activity.id}}">{{activity}}</a>
            </p> 
            <p>已邀请{{activity.person_invited}}人</p>
            <p>{{activity.person_attended}}人已接受</p>
            <p>{{activity.person_declined}}人已拒绝</p>
            <p>{{activity.get_state_display}}</p>
          </div>
          <div class="invitor">
            <div>创建者</div>
            <div class="thumbs">
              <img src="{{activity.invitor.profile.portrait.url}}" class="portrait"/>
            </div>
            <div>{{activity.invitor.profile.real_name}}</div>
          </div>
          <div class="fix"></div>
          <p class="description">{{activity.description}}</p> 
        </div>
      {% endfor %} 
    </div>

  </div>
  <div class="float-right">
    <div>
      <p>您有{{unhandled_invite.count}}个未处理的邀请</p>
      {%for invite in unhandled_invite%}
        <p>
          {{invite.activity.invitor.profile.real_name}}邀请您参加
          <a href="/activity/reply/{{invite.activity.id}}">
            {{invite.activity.name}}
          </a>
        </p>
      {%endfor%}
    </div>
    <div>
      <p>您有{{friend_application_count}}个<a href="/friends/application">好友申请</a></p>
    </div>    
  </div>
{%endblock%}
