{%extends "share/base_login.html"%}
{%block title%}动起来！{%endblock%}
{%block media%}
{%endblock%}

{%block content%}
  <script>
    $(function(){
      $('#act-invite-button').click(function(){
        $('#message-detail').parent().toggleClass('hide');
      });
      
    });
  </script>
  <div id="message-bar" class="module">
    <div class="header">
      <p>1条未读消息</p> 
      <p><a id="act-invite-button" href="#">{{activity_invitation.count}}个活动邀请</a></p>
      <p><a href="/story/invitation">{{story_invitation.count}}个故事邀请</a></p>
      <p><a href="/friends/invitation">{{friend_application_count}}个好友申请</a></p>
    </div>
    <div class="content hide">
      <div id="message-detail" class="span-24 last hide">
        {%for invite in activity_invitation%}
          <p>
            {{invite.activity.invitor.profile.real_name}}邀请您参加
            <a href="/activity/detail/{{invite.activity.id}}">
              {{invite.activity.name}}
            </a>
          </p>
        {%endfor%}      
      </div>
    </div>
  </div>
  <hr class="space"/>

  <div class="span-16" id="calendar">
    {{calendar_html|safe}}
  </div>
  <div class="span-8 last">
    <div class="module span-8 last">
      <div class="header">
        <h4>您可能敢兴趣的活动</h4>
      </div>
      <div class="content">
      {% for activity in public_activities %}
        {%include "share/activity_unit.html"%}
      {% endfor %}       
      </div>
    </div>
  </div>
{%endblock%}
